/* Basic styling for the body */
body {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Style for the navigation bar */
.navbar {
    background-color: #1b1b1b52;
    display: flex; /* Enable Flexbox */
    justify-content: space-around; /* Distribute items evenly */
    align-items: center; /* Center items vertically */
    padding: 8px;
    margin-left:10px ;
    margin-right: 10px;
    border-radius: 10px;
}

/* Style for the navigation links */
.navbar a {
    color: #ffffff7d; /* White text color */
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
}

/* Hover effect for the links */
.navbar a:hover {
    background-color: #57575793; /* Slightly lighter background on hover */
    color: #ffffffd4;
    border-radius: 4px; /* Rounded corners on hover */
}
